<div class="container pt-5">

  <div id="cockpit">

    <button
      class="btn btn-primary"
      (click)="onAddBtnClick()"
    >
      Add Button
    </button>

    <div class="pt-4">

      <ul
        dragula="TAGS"
        [(dragulaModel)]="dragulaModelTags"
        (dragulaModelChange)="onDragulaModelChange($event)"
      >

        <li
          class="p-4 bg-primary mb-4 d-flex"
          *ngFor="let tag of dragulaModelTags; let i = index; trackBy: trackByTag"
        >

          <input
            type="text" class="form-control"
            [(ngModel)]="tags[i]"
            (ngModelChange)="onNgModelChange($event, i)"
          >

          <button
            class="btn btn-success"
            (click)="onDelBtnClick(i)"
          >
            X
          </button>

        </li>

      </ul>

    </div>

  </div>

  <div id="tower">

    <h3>Model</h3>

    <pre>

      {{ tags | json }}

    </pre>

    <h3>Dragula Model</h3>

    <pre>

      {{ dragulaModelTags | json }}

    </pre>

  </div>

</div>

